button {
   border: none;
   border-radius: 5px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: large;
   padding: 10px;
   margin: 2px;
   transition-duration: .4s;
  
}

.container-navigation {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: flex-start
}

ul {
   list-style-type: none;
   padding: 5px;
}

.push {
   margin-left: 800px;

}