body{
background: #CC95C0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   
}

header {
   background-color: white;
}


button {
   background-color: white;
   border: none;
   border-radius: 5px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: large;
   color: black;
   padding: 10px;
   margin: 2px;
   transition-duration: .4s;
  
}

.container-navigation {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: flex-start
}

ul {
   list-style-type: none;
   padding: 5px;
}

.push {
   margin-left: 800px;

}